.blockLocation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 38px;
}

.text {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(16, 24, 40, 0.6);
}

.checkboxInput,
.radioInput {
    display: none;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 18px 218px 18px 18px;
    background-color: #F7F7F7;
    border: transparent;
}

.input::placeholder {
    padding-left: 20px;
}

.inputIcon {
    position: absolute;
    left: 10px;
    top: 60px;
    transform: translateY(-50%);
    pointer-events: none;
    stroke: #101828;
}

.input:hover + .inputIcon,
.input:focus + .inputIcon {
    stroke: black;
}

.input:hover::placeholder {
    color: #101828;
}
.input:focus::placeholder {
    color: #101828;
}

.blockFilter {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin-bottom: 24px;
}

.equipment {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 8px;
    margin-bottom: 36px;
}

.checkboxLabel {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 15px 20px;
    mix-blend-mode: multiply;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333;
}

.checkboxInputs {
    border: 1px solid #E44848;
}

.blockRadio {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 64px;
}

.radioLabel {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 17px 30px;
    mix-blend-mode: multiply;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333;
}

.btn {
    border-radius: 200px;
    padding: 16px 60px;
    background: #E44848;
    border: transparent;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #fff;
}

.btn:hover,
.btn:focus {
    background-color: #D84343;
}
