.reactModal {
    background: rgba(17, 18, 19, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #333;
}

.rateAndLocal {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 16px;
}

.button {
    background-color: transparent;
    border: transparent;
}

.rating {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #333;
}

.rateSpan {
    margin-right: 4px;
}

.location {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.blockImages {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.img {
    border-radius: 10px;
    width: 290px;
    height: 310px;
}

.text {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

.btnBlock {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.btnF {
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    background-color: transparent;
    border: transparent;
}

.btnR {
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    background-color: transparent;
    border: transparent;
    margin-left: 120px;
}

.btnSelectedF {
    position: absolute;
    padding-bottom: 7px;
    border-bottom: 4px solid #E44848;
    z-index: 999;
}

.btnSelectedR {
    position: absolute;
    padding-bottom: 7px;
    border-bottom: 4px solid #E44848;
    z-index: 999;
    margin-left: 120px;
}
